body {
  font-size: 16px;
}

.container {
  width: 900px;
  height: 910px;
  margin: 20px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727d79;
  line-height: 1.3em;
  box-shadow: 2px 2px 4px 1px #727d79;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: #b0c5bc;
  float: left;
  padding: 50px 10px 10px 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.avatar {
  text-align: center;
  position: relative;
}

.avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #9fe4d9;
}

.avatar-circle {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  top: -12px;
  left: 48px;
}

.avatar .name {
  font-size: 2em;
  margin-top: 20px;
  text-shadow: 1px 2px #fff;
  color: #494949;
}

.description {
  padding: 0 10px;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 25px 0;
}

.seperate {
  border-top: 1px solid #aabfb6;
}

.hobby {
  margin-top: 20px;
}

.hobby ul {
  margin: 40px 20px;
}

.title {
  font-size: 1.2em;
  text-shadow: 1px 2px #fff;
  color: #494949;
}

.title.hobby-title {
  text-align: center;
}

.hobby li {
  margin: 20px;
}

.contact {
  background-color: #363636;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact p {
  text-align: center;
  line-height: 1.5em;
  color: #acacac;
}

.contact::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -16px;
  transform: rotate(45deg);
  box-shadow: 0 -18px #363636, 16px -34px #363636, 32px -50px #363636,
    48px -66px #363636, 64px -82px #363636, 80px -98px #363636,
    96px -114px #363636, 112px -130px #363636, 128px -146px #363636,
    144px -162px #363636, 160px -178px #363636, 176px -194px #363636,
    192px -210px #363636, 208px -226px #363636;
}

.content-main {
  width: 600px;
  height: 100%;
  background-color: #e2e7e3;
  float: left;
  padding: 30px 10px 30px 70px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.content-main::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 100%;
  background-color: #f0f0ee;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 1px 1px 2px rgba(144, 144, 144, 0.5);
}

.content-main .part {
  margin-bottom: 20px;
  position: relative;
}

.content-main .part::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  transform: rotate(45deg);
  background-color: #f0f0ee;
  position: absolute;
  top: -10px;
  left: -90px;
}

.content-main .part::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 38px;
  transform: rotate(45deg);
  position: absolute;
  top: 6px;
  left: -49px;
  box-shadow: 1px 1px #666;
}

.content-main .seperate {
  margin: 10px 0 20px 0;
}

.info-container {
  height: 100%;
  position: relative;
}

.info-cell {
  margin: 10px 0;
  overflow: hidden;
}

.info-title,
.info-content {
  float: left;
}

.info-title {
  width: 150px;
}

.info-content {
  width: 360px;
}

.info-content ul {
  list-style: square;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 12px;
}

.info-title .sub {
  transform: scale(0.6) translateX(15px);
  transform-origin: left top;
}

svg {
  transform: scale(0.1);
  fill: #333;
  opacity: 0.4;
  transition: all 0.3s;
}

svg:hover {
  opacity: 0.8;
}

svg.next {
  position: absolute;
  bottom: -280px;
  right: -250px;
}

svg.prev {
  position: absolute;
  bottom: -280px;
  right: 180px;
  transform: scale(0.1) rotate(180deg);
}

.work-container {
  height: 100%;
  display: none;
  position: relative;
}

.work-container img {
  width: 230px;
  transform: scale(1);
  transition: all 0.3s;
  opacity: 0.6;
}

.work-container .work {
  margin: 10px;
  float: left;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 2px #ccc;
}

.work-container .work:nth-child(odd) {
  margin-right: 20px;
}

.work-container .work .img-desc {
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  overflow: hidden;
  transition: all 0.3s;
}

.work-container .work:hover .img-desc {
  height: 80px;
}

.work-container .work:hover img {
  transform: scale(1.1);
  opacity: 1;
}

.work-container .work .img-desc p {
  margin: 0px 10px;
}

.work-container .work .img-desc p:nth-child(1) {
  margin-top: 10px;
}
